/EJB_ED/build/
/DoctorWebApplication/build/
/EJB_ED/dist/
/DoctorWebApplication/dist/
/JSFDoctor/nbproject/private/
/JSFDoctor/build/
/JSFDoctor/dist/
/EntrepriseAppTest/build/
/EntrepriseAppTest/dist/
/EJB_ED_1/nbproject/private/
/EnterpriseAppJSP/nbproject/private/
/EnterpriseAppJSP/build/
/EnterpriseAppJSP/dist/
/JSFEARDoctor/build/
/EJBDoctor/build/
/EJBDoctor/dist/
/JSPEARDoctor/build/
/JSPDoctor/dist/
/JSPDoctor/build/