build
/EJB_ED/nbproject/private/
/TP1/TP1Ex1/nbproject/private/
/DoctorWebApplication/nbproject/private/
/EJB_ED/dist/
/EntrepriseApplicationServletTest/nbproject/private/
/EntrepriseApplicationServletTest/EntrepriseApplicationServletTest-war/nbproject/private/
/EntrepriseApplicationServletTest/EntrepriseApplicationServletTest-ejb/nbproject/private/
/EnterpriseApplicationServletTest/nbproject/private/